In [2]:
import pandas as pd


df = pd.read_csv(r"C:\Users\klai\OneDrive - Cherry Creek School District\Desktop\Artificial_Intelligence\cats.csv")
df.columns

Index(['Unnamed: 0', 'Breed', 'Age (Years)', 'Weight (kg)', 'Color', 'Gender',
       'ID'],
      dtype='object')

In [18]:
df.head()

,Breed,Age (Years),Weight (kg),Color,Gender,ID,Weight (lbs)
0,Egyptian Mau,12,7,White,Male,181,15.435
1,Scottish Fold,17,8,Tortoiseshell,Male,907,17.640
2,Sphynx,9,9,Orange,Male,732,19.845
3,Oriental,6,7,Gray,Female,464,15.435
4,Savannah,14,7,Tortoiseshell,Female,451,15.435

In [19]:
df.loc[0]["Breed"]

'Egyptian Mau'

In [16]:
df.loc[len(df)] = ["Orange Tabby", 3, 5, "Orange", "Male", len(df)]

ValueError: cannot set a row with mismatched columns

In [4]:
df['Weight (lbs)'] = df['Weight (kg)'] * 2.205
df.tail()

          Breed  Age (Years)  Weight (kg)    Color  Gender   ID  Weight (lbs)
995  Abyssinian           18            3    Black  Female  347         6.615
996     Burmese            4            5  Pointed  Female  339        11.025
997     Persian           19            9    Cream    Male  659        19.845
998     Persian           17            3  Bicolor  Female  124         6.615
999        Manx           18            8    Black    Male  226        17.640