In [3]:
import pandas as pjsk


df = pjsk.read_csv(r"C:\Users\klai\OneDrive - Cherry Creek School District\Desktop\Artificial_Intelligence\cats.csv")
df.columns

Index(['Unnamed: 0', 'Breed', 'Age (Years)', 'Weight (kg)', 'Color', 'Gender',
       'ID'],
      dtype='object')

In [16]:
df.drop(['Unnamed: 0'], inplace=True, axis=1)

,Breed,Age (Years),Weight (kg),Color,Gender,ID,Weight (lbs)
0,Egyptian Mau,12,7,White,Male,181,15.435
1,Scottish Fold,17,8,Tortoiseshell,Male,907,17.640
2,Sphynx,9,9,Orange,Male,732,19.845
3,Oriental,6,7,Gray,Female,464,15.435
4,Savannah,14,7,Tortoiseshell,Female,451,15.435

In [2]:
df.loc[0]["Breed"]

NameError: name 'df' is not defined

In [1]:
df.loc[len(df)] = ["Orange Tabby", 3, 5, "Orange", "Male", len(df)]

NameError: name 'df' is not defined

In [4]:
df['Weight (lbs)'] = df['Weight (kg)'] * 2.205
df.tail()

,Unnamed: 0,Breed,Age (Years),Weight (kg),Color,Gender,ID,Weight (lbs)
0,0,Egyptian Mau,12,7,White,Male,181,15.435
1,1,Scottish Fold,17,8,Tortoiseshell,Male,907,17.640
2,2,Sphynx,9,9,Orange,Male,732,19.845
3,3,Oriental,6,7,Gray,Female,464,15.435
4,4,Savannah,14,7,Tortoiseshell,Female,451,15.435