In [12]:
import pandas as pjsk

file_path = r'C:\Users\klai\OneDrive - Cherry Creek School District\Desktop\Artificial_Intelligence\cats.csv'
df = pjsk.read_csv(file_path)
print(df.head())
print(df.shape)
print(df)

   Unnamed: 0          Breed  Age (Years)  Weight (kg)          Color  Gender  \
0           0   Egyptian Mau           12            7          White    Male
1           1  Scottish Fold           17            8  Tortoiseshell    Male
2           2         Sphynx            9            9         Orange    Male
3           3       Oriental            6            7           Gray  Female
4           4       Savannah           14            7  Tortoiseshell  Female

    ID
0  181
1  907
2  732
3  464
4  451
(1000, 7)
     Unnamed: 0          Breed  Age (Years)  Weight (kg)          Color  \
0             0   Egyptian Mau           12            7          White
1             1  Scottish Fold           17            8  Tortoiseshell
2             2         Sphynx            9            9         Orange
3             3       Oriental            6            7           Gray
4             4       Savannah           14            7  Tortoiseshell
..          ...            ...          ...          ...            ...
995         995     Abyssinian           18            3          Black
996         996        Burmese            4            5        Pointed
997         997        Persian           19            9          Cream
998         998        Persian           17            3        Bicolor
999         999           Manx           18            8          Black

     Gender   ID
0      Male  181
1      Male  907
2      Male  732
3    Female  464
4    Female  451
..      ...  ...
995  Female  347
996  Female  339
997    Male  659
998  Female  124
999    Male  226

[1000 rows x 7 columns]